
/* Don't change this rule */
span {
	border: 2px solid black;
	display: inline-block;
	padding: 10px;
}

/* Only change border properties on the following */

.a {
	border: 12px solid orange;
}

.b {
	border: 3px dashed red;
}

.c {
	border-color: #777 #000 #000 #777;
	border-style: solid;
	border-width: 5px;
}

.d {
	border-color: #000 #777 #777 #000;
	border-style: solid;
	border-width: 5px;
}

.e {
	border-top: 5px double #777;
	border-right: 2px dotted green;
	border-bottom: 5px double red;
	border-left: 2px dashed orange;

}


/* Only change padding and margin properties on the following */

.f 
{

}

.g {
	
}

.h {
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
}

.i {
	padding-top: 0;
	padding-left: 15px;
	margin-left: 10px;
	position: relative;
	top: -5px;
}

.j {
	margin-left: 20px;
	padding-bottom: 0;
	padding-left: 15px;
}

.k {
	margin-left: 10px;
}

.l {
	padding-top: 0;
	padding-right: 0;
}
